# Directories
/.vagrant
/.idea
/.vscode
/build
/*/*.template*.json
**/html_docs

# Files
.DS_Store
*.dev.yml
*.generated.yml
coverage.out
.python-version
*.keystore
go_env.properties
mage_output_file.go

# Editor swap files
*.swp
*.swo
*.swn

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.exe
*.test
*.prof
*.pyc

# Terraform
*.terraform
*.tfstate*

# Files generated with the bump version automations
*.bck
